@import '@radix-ui/themes/styles.css';

:root {
  --marker-font-weight: 700;
  --report-submit-button-background: #ce2c31;
}

.dark {
  --marker-font-weight: 400;
}

.radix-themes {
  width: 100dvw;
  height: 100dvh;

  --default-font-family: 'Noto Sans KR', sans-serif;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* @vis.gl/react-google-maps <InfoWindow> style */
.gm-style-iw {
  background-color: var(--gray-2) !important;
}

.gm-style-iw-c {
  padding-right: 0 !important;
  padding-bottom: 0 !important;
  max-height: none !important;
}

.gm-style-iw-d {
  overflow: hidden !important;
  max-height: none !important;
}

.gm-style-iw-tc {
  display: none;
}
